.header{/*Header*/
    background-color: rgb(2, 2, 125);
    color: white;
    overflow: hidden;


}
.logo{
     float: left;
    text-transform: uppercase;
}
.nav{
   float: right;
}
.nav li{
    float: left;
   list-style: none;
   padding: 15px;
 
}
.nav :hover{
    background-color: darkblue;
    color: black;
    opacity: 0.9;
    border-radius: 5px;
    margin: 2px;
}
.content{
    background: url(./image/image.avif);
    overflow: hidden;
    color: antiquewhite;
}
.ser{
    background-color: rgb(1, 1, 86);
    color: white;
    overflow: hidden;     
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-auto-rows: minmax(100px,auto);
    grid-gap:2 em;
    justify-items: stretch;
    align-items: center;
}
.head-ser{
    background-color: rgb(1, 1, 86);
    color: white;
    overflow: hidden;
}
.main{
    float: left;
    width: 50%;
  

}
.aside{
    float: right;
    width: 50%;
    
}

